*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(160, 158, 158);
}

fieldset {
     border-top: 1px solid #333;
     border-bottom: none;
     border-left: none;
     border-right: none;
     display: block;
     text-align: center;
 }
 
 fieldset > legend {
     padding: 5px 10px;
 }