*{
    margin: 0px;
    padding: 0px;
    font-family: Hind,Arial, Helvetica, sans-serif;
}

body{
    background-color: #317b96;
}

h1{
    font-weight: 100;
    font-size: 22px;
    text-align: center;
    padding: 20px;
}

a{
    text-decoration: none;
    color: rgb(231, 230, 230);
    text-align: center;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.747);
    border: 1px solid black;
    border-radius: 15px;
    width: 380px;
}

span{
    margin-top: 12px;
}

input{
    height: 30px;
    width: 280px;
    margin-top: 6px;
}

.img{
    text-align: center;
 }

.usuario{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
 }

.senha{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
 }

 .entrar{
    display: block;
    margin: auto;
    width: 150px;
    background-color: #317b96;
    border: 1px solid black;
    border-radius: 15px;
    color: white;
    font-size: 18px;
    transition: .5s;
 }

 .entrar:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
 }
