@charset "UTF-8";

@media  screen and (min-width:768px) and (max-width:1100px) {
    body{
        background-color: rgb(160, 158, 158);
        background: rgba(0, 0, 0, 0.664)url("imgs/fundo-tablet.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: darken;
    }
}

@media screen and (min-width:1100px){
    body{
        background-color: rgb(160, 158, 158);
        background: rgba(0, 0, 0, 0.664)url("imgs/fundo-pc.jpg");
        background-repeat: no-repeat;

        background-size: cover;
        background-blend-mode: darken;
    }
}