*{
    margin: 0px;
    padding: 0px;
    font-family: Hind,Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(160, 158, 158);
    background: rgba(0, 0, 0, 0.664)url("imgs/fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}

h1{
    font-weight: 100;
    font-size: 22px;
    text-align: center;
    padding: 20px;
}

a{
    text-decoration: none;
    color: rgb(231, 230, 230);
    text-align: center;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.747);
    border: 1px solid black;
    border-radius: 15px;
    width: 450px;
}

fieldset {
     border-top: 2px solid #333;
     border-bottom: none;
     border-left: none;
     border-right: none;
     display: block;
     text-align: center;
     margin-left: 56px;
     margin-right: 56px;
     margin-top: 25px;
     margin-bottom: 25px;
 }
 
 fieldset > legend {
     padding: 5px 10px;
     font-size: 19px;
 }

#google{
    display: block;
    margin: auto;
    border:1px solid black;
    border-radius: 10px;
    background-color: #317b96;
    width:315px;
    text-align: center;
    padding: 10px;
}

.botao-google{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
 }

 .botao-google > p{
    margin-top: 4.5px;
 }

.botoes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

 #entrar{
    border:1px solid black;
    border-radius: 10px;
    background-color: #317b96;
    width: 120px;
    text-align: center;
    padding: 10px;
 }

 #cadastre-se{
    border:1px solid black;
    border-radius: 10px;
    background-color: #317b96;
    text-align: center;
    width: 120px;
    padding: 10px;
 }

 .img{
    text-align: center;
 }