@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #317b96;
}

img.logo{
    height: 50px;
    display: inline;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

p{
    color: black;
    font-size: 20px;
}

li{
    list-style-type: none;
}

.itens{
    color: white;
    margin-top: 10px;
    margin-right: 15px;
    transition: .5s;
}

.img-carrosel{
    width: 100vw;
    height: 450px;
}

.lista-icones-esportes{
    display: flex;
    justify-content: space-evenly;
}

.icones-esportes{
    background-color: white;
    width:90px;
    height: 90px;
    margin:30px 25px 15px 25px;
    border-radius: 15px;
    transition: .5s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.514);
}

.icones-esportes:hover{
    width: 95px;
    height: 95px;
    background-color: rgb(167, 167, 167);
}

.img-icones-esportes{
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
}

.titulo-icones-esportes{
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}

.carrossel{
    margin: 20px 0px 20px 0px;
}

.barra-pesquisa{
    padding-bottom: 5px;
}

.input-pesquisa{
    border:none ;
    padding: 05px;
    width: 750px;
    border-radius:25px 0px 0px 25px ;
}

.input-botao-pesquisar{
    border: none;
    padding: 5px;
    border-radius: 0px 25px 25px 0px;
}